:root {
    --main-font: 'Dosis', sans-serif;
    --light-bg: #1B2430;
    --main-color:#E94560;
    --font-color: #fff;
    --transition: .7s;
    --border:2px solid rgb(51, 51, 51);
  }

body {
    background: url(..//image/image/bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: var(--main-font);
}

.form {
    background-color: #0A2647;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}

input::placeholder {
    color: #000 !important;
}

input:focus {
    background-color: #E94560 !important;
    transition: .6s;
    color: #fff !important;
}
.collapse:not(.show){
    display: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

/* -------------------------------------------------------------------------------------- */


i{
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--font-color);
    
  }

  .to-up {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: var(--light-bg);
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--font-color);
    transition: .7s;
    animation:  upTo 1s infinite alternate;
    display: none;
  }
  
  .to-up:hover{
  animation: none;
  
  }

/* 
  @keyframes upTo{
    0%{
      transform: translate(0);
    }
    100%{
      transform: translateY(20px);
    }
  } */

  #isLoading{
    position: fixed;
    z-index: 99999;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: var(--light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    position: fixed;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--light-bg);
      width: 70%;
      margin: auto;
      border-radius: 6px;
      z-index: 999;
  }
  .navbar a{
    transition: var(--transition);;
    font-weight: bold;
  }
  .navbar a:hover{
    transform: translateY(-5px);
  }
  .navbar span ,
  .navbar i,
  .navbar button {
    color: var(--font-color);
    cursor: pointer;
    transition: var(--transition);
  }
  .navbar span:hover ,
  .navbar i:hover ,
  .navbar button:hover {
    transform: translateY(-5px);
    color: var(--main-color);
  }
  .navbar a:hover,
  .navbar .active{
    color: var(--main-color) !important;
  }
  .home {
    background:url(../image/image/bg.jpg);
    background-attachment: fixed;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    
  }
  
  .home span{
    color: var(--main-color);
  }
  .overlay{
    background-color: rgba(0, 0, 0, .9);
  
  }
  .about .about-item{
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .about .about-item::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: -100%;
    transition: var(--transition);
    z-index: -1;
    transform: skewX(180deg);
  }
  .about .about-item:hover.about-item::after {
    background-color: var(--main-color);
    color: var(--font-color);
    left:0;
    transform: skewX(0);
  }
  .about .about-item:hover{
    transform: translateY(-15px);
    color: #fff !important;
  }
  .review{
    background: url(../image/image/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .review-item {
    width: 8rem;
    height: 8rem;
    padding-top: 1rem;
    margin: auto;
    position: relative;
  }
  .review-item::after{
    content: '';
    width: 100%;
    height: 100%;
    border:1px solid var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
    box-shadow: 1px 1px 10px var(--main-color);
  }
  .review-item:hover.review-item::after{
    transform:  rotate(60deg);
    border-radius: 50%;
  }
  #review-random{
    color: var(--main-color);
  }
  .category {
    min-height: 100vh;
    background: var(--light-bg);
    color: var(--font-color);
  }
  
  .category h3 {
    position: relative;
    font-size: 2rem;
  }
  .category h3::after {
    content: '';
    width: 100%;
    height: .1rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: -.6rem;
    left: 0;
  }
  .Movies {
    background-color: var(--light-bg);
  }
  .Movies span {
    width: 2rem;
    padding: 0 20px;
    background-color: var(--main-color);
    color: var(--font-color);
  }
    
footer{
    width: 100%;
    height: 100%;
    background-color: #000;

}
footer a{
    width: 50%;
    font-size: x-large;
    color: var(--main-color);
}
h6 {
    color: var(--main-color);
}



  ::-webkit-scrollbar {
    width: .5rem;
    transition: width 2s;
  }
  
  ::-webkit-scrollbar-track {
    margin: 5px 0;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--light-bg);
    border-radius: 4px;
  }
  